.container {
  /* width: 70%; */
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 0 20px;
}

.flicker{
  animation: flick 1s infinite;
}

@keyframes flick{
  0%{opacity: 1;}
  50%{ opacity: 0;}
  100%{ opacity: 1;}
}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.img1{
    
  }

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
